# Dependencies and build outputs
**/node_modules
**/.next
**/out
**/build
**/dist

# Python
**/__pycache__
**/*.py[cod]
**/.venv
**/.pytest_cache

# Environment and secrets
**/.env*.local
**/.env.prod

# Logs and OS
**/npm-debug.log*
**/.DS_Store
**/.git
